:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

#deckPreviewList{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

mat-divider{
    margin-bottom: 1em;
}

app-deck-preview{
    margin-right: 1em;
}



#OuterCard{
    overflow: hidden;
}

#OuterCardContent{
    overflow: hidden;
}

#InnerCard{
    background-color: #F5F5F5;
    overflow: hidden;
}

#InnerCardContent{
    overflow: hidden;
}

