:host {
    display: flex;
    background-color: white;
    width: fit-content;
    padding: var(--padding);
    border: 1px solid lightgrey;
    box-shadow: 0.5em 0.5em;
}

div{
    transition-duration: 0.1s;
}

.hidden{
    opacity: 0;
}

.shown{
    opacity: 1;
}