<mat-card id="OuterCard">
    <mat-card-content>
        <!--This makes the list of cards that can be selected-->
        <div *ngFor="let card of programState.getCardList()">
            <div class="cardPreview" (click)="selectCard(card.ID)">
                <mat-card id="topCard">
                    <mat-card-content class="card">
                        {{card.FrontText}}
                    </mat-card-content>
                </mat-card>
                
                <mat-card id="bottomCard">
                    <mat-card-content class="card">
                        {{card.BackText}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>
