:host{
    max-height: 100%;
}

mat-card-content{
    overflow: auto;
}

div{
    margin-right: 1em;
}

#topCard{
    z-index: 1;
}

#bottomCard{
    bottom: 1em;
    left: 1em;
}

#OuterCard{
    max-height: 100%;
    margin: 0.1em;
    background-color: #F5F5F5;
}