<div id="cardSelector">
    <div class="card" *ngFor="let card of this.programState.getCardList()"  (click)="selectCard(card)">
        <mat-card class="cardPreviewFrontText" [ngClass]="card == selectedCard ? 'selectedCardClass' : ''">
            <mat-card-content>
                {{card.frontText}}
            </mat-card-content>
        </mat-card>
        <mat-card class="cardPreviewBackText" [ngClass]="card == selectedCard ? 'selectedCardClass' : ''">
            <mat-card-content>
                {{card.backText}}
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
<div id="rightSideDiv">
    <mat-form-field>
        <input matInput [formControl]="deckNameControl" placeholder="Deck Name">
    </mat-form-field>
</div>