<app-selected-deck-display></app-selected-deck-display>

<mat-card>
    <mat-card-content id="EditorDiv">
        <mat-form-field>
            <input mat-input matNativeControl [formControl]="deckIDControl" type="text" placeholder="Deck ID">
        </mat-form-field>
        <mat-form-field>
            <input mat-input matNativeControl [formControl]="deckNameControl" type="text" placeholder="Deck Name">
        </mat-form-field>

        <mat-card>
            <mat-card-content>
                <div id="CardEditorDiv">
                    <app-card-selector (onSelectCard)="selectCard($event)"></app-card-selector>
                    <div id="CardEditorFields">
                        <mat-form-field>
                            <input mat-input matNativeControl [formControl]="cardIDControl" type="text" placeholder="Card ID">
                        </mat-form-field>
        
                        <mat-form-field>
                            <input mat-input matNativeControl [formControl]="cardFrontTextControl" type="text" placeholder="Front Text">
                        </mat-form-field>
        
                        <mat-form-field>
                            <input mat-input matNativeControl [formControl]="cardBackTextControl" type="text" placeholder="Back Text">
                        </mat-form-field>

                        <button mat-flat-button color="primary" (click)="removeCard()">Remove Card</button>
                        <button mat-flat-button color="primary" (click)="makeNewCard()">New Card</button>
                        <button mat-flat-button color="primary" (click)="makeNewDeck()">New Deck</button>

                        <div id="DeleteDeckButtonDiv">
                            <button mat-flat-button color="primary" (click)="saveDeck()">Save Deck</button>
                            <button mat-flat-button color="warn" (click)="deleteDeck()">Delete Deck</button>
                        </div>
                        
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        
    </mat-card-content>
</mat-card>
