:host{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
    flex-grow: 1;
}

div{
    background-color: none;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: none;
    flex-grow: 1;
    gap: 1em;
}

span{
    display: flex;
    gap: 1em;
}

mat-form-field{
    flex-grow: 1;
}

