:host{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: -1em;
    overflow: hidden;
}

mat-card{
    margin-right: 1em;
    overflow: hidden;
}
mat-card-content{
    display: flex;
    justify-content: center;
    overflow: hidden;
}


#topCard{
    z-index: 1;
    background-color: inherit;
}

#bottomCard{
    bottom: 1em;
    left: 1em;
    background-color: inherit;
}

div{
    background-color: white;
    display: contents;
}

.selected{
    background-color: #E0E0E0;
}